body {
  text-align: center;
  font-family: Helvetica;
  }

#Home {
  font-size: 70px;
  font-weight: bold;
  color: white;
  }

.banner {
  background-image: url("./resources/images/the-flatiron-building.png");
}

.menu {
  font-size: 18px;
  color: white;
}

#Process {
  font-size: 32px;
  font-weight: bold;
  }

.steps {
  font-size: 23px;
  font-weight: bold;
}

.other_text {
  font-size: 14px;
}

.new_york {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
